img {
  width: 100%;
}

.logo {
  height: 40px;
  width: 40px;
  opacity: 0.4;
}

.jumbotron {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url("../media/hero (1).jpg");
  background-size: cover;
  background-position: center;
}

.card-img-top {
  height: 500px;
  object-fit: cover;
  object-position: center;
  background-color: rgba(220, 220, 220, 0.5);
}

img.not-available {
  opacity: 0.5;
  background-color: rgba(220, 220, 220, 1);
}

.move-footer {
  height: 38vh;
}